@font-face {
    font-family: Nanum;
    src: url("fonts/nanum-slow.ttf");
}

@font-face {
    font-family: Poetme;
    src: url("fonts/poetme.ttf");
}

@font-face {
    font-family: Flower;
    src: url("fonts/woman-flower.ttf");
}

@font-face {
    font-family: SClight;
    src: url("fonts/SClight.otf");
}

body {
    background-color: #ffb3b3;
}

.card {
    background-color: white;
    width: 700px;
    position: relative;
    display: block;
    margin: auto;
    margin-top: 80px;
    padding-top: 1em;
    text-align: center;
    margin-bottom: 0;
}

.title {
    font-family: 'Nanum', serif;
    font-size: 5.5rem;
    font-weight: normal;
    text-align: center;
    line-height: 1;
    margin-bottom: 0;
    margin-top: 40px;
}

.date {
    font-family: 'Nanum', serif;
    font-size: 3.5rem;
    font-weight: normal;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
}

.name {
    font-family: 'Nanum', serif;
    font-size: 2.8rem;
    font-weight: normal;
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
}

.wrap-text {
    position: relative;
    width: 100%;
}

.main-text {
    font-family: 'Flower', serif;
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 2;
    z-index: 1;
    margin-top: 200px;
    margin-bottom: 50px;
}

.icon img {
    margin-top: 0;
    margin-bottom: 0;
}

#left {
    float: left;
    z-index: 0;
    position: absolute;
    left: 40px;
    top: -120px;
}

.hr {
    border-top: 1px solid #ffb3b3;
    width: 80%;
    margin: auto;
}

#familyimg {
    width: 100%;
    margin-bottom: 40px;
}

.family {
    width: 80%;
    padding: 10px;
    position: relative;
}

.main-name {
    font-family: 'Flower';
    font-size: 2rem;
    font-weight: normal;
    line-height: 1.5;
    position: absolute;
    margin-left: 150px;
    margin-top: 20px;
}

.main-name2 {
    font-family: 'Flower';
    font-size: 2rem;
    font-weight: normal;
    line-height: 1.5;
    position: absolute;
    margin-left: 130px;
    margin-top: 150px;
}

.smaller-name {
    font-family: 'Flower';
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 1.5;
    position: absolute;
    margin-left: 300px;
    margin-top: 50px;
}

.smaller-name2 {
    font-family: 'Flower';
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 1.5;
    position: absolute;
    margin-left: 300px;
    margin-top: 180px;
}

.sung {
    font-family: 'Flower';
    font-size: 2.2rem;
    font-weight: normal;
    line-height: 1.5;
    position: absolute;
    margin-left: 460px;
    margin-top: 40px;
}

.hee {
    font-family: 'Flower';
    font-size: 2.2rem;
    font-weight: normal;
    line-height: 1.5;
    position: absolute;
    margin-left: 460px;
    margin-top: 172px;
}

.icon2-2 {
    margin-top: 180px;
    margin-left: 420px;
}

.page3-title {
    font-family: 'Flower', serif;
    font-size: 1.8rem;
    font-weight: normal;
    text-align: center;
    line-height: 2;
    position: absolute;
    margin-left: 275px;
    margin-top: -210px;
}

#crown {
    text-align: center;
    margin-top: 50px;
}

.page3 {
    font-family: 'Flower', serif;
    font-size: 1.8rem;
    font-weight: normal;
    text-align: center;
    line-height: 2;
    margin-bottom: 0;
    margin-top: -10px;
}

.cal {
    width: 100%;
    margin-bottom: 80px;
}

#map {
    width: 100%;
    height: 400px;
    background-color: white;
    margin-bottom: 100px;
}

.page4-title {
    font-family: 'Flower', serif;
    font-size: 1.8rem;
    font-weight: normal;
    text-align: center;
    line-height: 2;
    margin: auto;
}

.icon-4 {
    float: right;
    margin-top: -100px;
    margin-right: 150px;
}

.page4-subtitle {
    font-family: 'Flower', serif;
    font-size: 1.7rem;
    font-weight: normal;
    text-align: center;
    line-height: 2;
    margin: auto;
    margin-top: 75px;
}

.page4 {
    font-family: 'Flower', serif;
    font-size: 1.3rem;
    font-weight: lighter;
    text-align: center;
    line-height: 2;
    margin: auto;
    color: #3e3e3e;
    margin-bottom: 50px;
}

.page4 a {
    text-decoration: none;
    cursor: pointer;
    color: #ed7b7c;
    font-size: larger;
}

#map {
    width: 100%;
    height: auto;
    margin: 0;
}

.page5 {
    font-family: 'SClight', sans-serif;
    font-size: 1.3rem;
    font-weight: lighter;
    text-align: center;
    line-height: 2;
    margin: auto;
    padding-bottom: 60px;
}

.page5-red {
    font-family: 'Flower', serif;
    font-size: 1.6rem;
    font-weight: lighter;
    text-align: center;
    line-height: 1;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 25px;
    color: #ed7b7c;
}

.fullwidth-gallery {
    width: 100%;
    background-color: #3e3e3e;
    height: 700px;
    margin: 0;
    padding: 0;
    margin-top: 80px;
}

* {
    padding: 0;
    margin: 0;
}

.final {
    display: block;
}

.final-text {
    font-family: 'Flower', serif;
    font-size: 1.5rem;
    font-weight: normal;
    text-align: center;
    line-height: 2;
    padding-bottom: 100px;
    margin-bottom: 100px;
}

.final-mobile {
    display: none;
}

@media screen and (max-device-width: 768px),
(max-width: 800px) {
    .card {
        width: 90%;
        padding: 10px;
    }
    .title {
        font-size: 100px;
    }
    .name {
        font-size: 55px;
    }
    .main-img {
        margin-bottom: 170px;
        width: 100%;
    }
    .main-text {
        margin: auto;
        position: relative;
        padding: 15px;
        font-size: 33px;
        text-align: center;
        margin-bottom: 100px;
    }
    #familyimg {
        margin-bottom: 80px;
    }
    #left {
        position: absolute;
        left: 10px;
        top: -100px;
    }
    .hr {
        border-top: 1px solid #ffb3b3;
        width: 80%;
        margin: auto;
    }
    .page3-title {
        font-size: 25px;
        margin: auto;
        position: relative;
        margin-bottom: 120px;
    }
    .page3-wrapper {
        width: 100%;
        position: relative;
    }
    .page3 {
        font-size: 20px;
        margin-top: 200px;
    }
    #crown {
        position: absolute;
        width: 35%;
        margin-left: -155px;
        margin-top: 30px;
    }
    .page4-title {
        margin-top: 30px;
        font-size: 25px;
    }
    .icon-4 {
        width: 30%;
        position: absolute;
        margin-top: -140px;
        margin-left: 30px;
    }
    .page4-subtitle {
        font-size: 30px;
    }
    .page4 {
        font-size: 30px;
        margin: 0;
    }
    #map {
        width: 100%;
        height: auto;
        margin: 0;
    }
    .page5-red {
        font-size: 35px;
        line-height: 1.2;
    }
    .page5 {
        font-size: 30px;
    }
    .final-text {
        font-size: 33px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .final {
        display: none;
    }
    .final-mobile {
        display: block;
    }
}


/* carousel */

.sr-only {
    position: absolute;
    left: -9999999px;
}

.img-responsive,
.thumbnail>img,
.thumbnail a>img,
.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    display: block;
    max-width: 100%;
    height: auto;
}

.carousel {
    position: relative;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    height: 700px;
}

#slide-image {
    height: 700px;
    margin: auto;
}

.carousel-inner>.item {
    position: relative;
    display: none;
    -webkit-transition: .6s ease-in-out left;
    -o-transition: .6s ease-in-out left;
    transition: .6s ease-in-out left;
}

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    line-height: 1;
}

@media all and (transform-3d),
(-webkit-transform-3d) {
    .carousel-inner>.item {
        -webkit-transition: -webkit-transform .6s ease-in-out;
        -o-transition: -o-transform .6s ease-in-out;
        transition: transform .6s ease-in-out;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-perspective: 1000px;
        perspective: 1000px;
    }
    .carousel-inner>.item.next,
    .carousel-inner>.item.active.right {
        left: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    .carousel-inner>.item.prev,
    .carousel-inner>.item.active.left {
        left: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    .carousel-inner>.item.next.left,
    .carousel-inner>.item.prev.right,
    .carousel-inner>.item.active {
        left: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.carousel-inner>.active,
.carousel-inner>.next,
.carousel-inner>.prev {
    display: block;
}

.carousel-inner>.active {
    left: 0;
}

.carousel-inner>.next,
.carousel-inner>.prev {
    position: absolute;
    top: 0;
    width: 100%;
}

.carousel-inner>.next {
    left: 100%;
}

.carousel-inner>.prev {
    left: -100%;
}

.carousel-inner>.next.left,
.carousel-inner>.prev.right {
    left: 0;
}

.carousel-inner>.active.left {
    left: -100%;
}

.carousel-inner>.active.right {
    left: 100%;
}

.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    filter: alpha(opacity=50);
    opacity: .5;
}

.carousel-control.left {
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .0001)));
    background-image: linear-gradient(to right, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x;
}

.carousel-control.right {
    right: 0;
    left: auto;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, .5)));
    background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
}

.carousel-control:hover,
.carousel-control:focus {
    color: #fff;
    text-decoration: none;
    filter: alpha(opacity=90);
    outline: 0;
    opacity: .9;
}

.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
}

.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-left {
    left: 50%;
    margin-left: -10px;
}

.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right {
    right: 50%;
    margin-right: -10px;
}

.carousel-control .icon-prev,
.carousel-control .icon-next {
    width: 20px;
    height: 20px;
    font-family: serif;
    line-height: 1;
}

.carousel-control .icon-prev:before {
    content: '\2039';
}

.carousel-control .icon-next:before {
    content: '\203a';
}

.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    border-radius: 10px;
}

.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #fff;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}

.carousel-caption .btn {
    text-shadow: none;
}

@media screen and (min-width: 768px) {
    .carousel-control .glyphicon-chevron-left,
    .carousel-control .glyphicon-chevron-right,
    .carousel-control .icon-prev,
    .carousel-control .icon-next {
        width: 30px;
        height: 30px;
        margin-top: -15px;
        font-size: 30px;
    }
    .carousel-control .glyphicon-chevron-left,
    .carousel-control .icon-prev {
        margin-left: -15px;
    }
    .carousel-control .glyphicon-chevron-right,
    .carousel-control .icon-next {
        margin-right: -15px;
    }
    .carousel-caption {
        right: 20%;
        left: 20%;
        padding-bottom: 30px;
    }
    .carousel-indicators {
        bottom: 20px;
    }
}